.text-primary{
    color: blue;
}

.text-danger{
    color: red;
}
.text-success{
    color: green;
}
.font-small{
    font-size: small;
}

.font-medium{
    font-size: medium;
}

.font-large{
    font-size: large;
}

.text-center{
    text-align: center;
}